@charset "utf-8";
/* CSS Document */
nav{	height: 70px;
		width:100%;
		padding-top:16px;
		justify-content: space-between;
		z-index:10; 
}
nav,.ubicacion,.contactate2,.position3,.imagen1,.h2alt,.texto,.subqev,.frases,#mancha,#mancha img,.position,.position2,#container{
		position: relative;
}

nav a:hover,article h2{
		color: #8B368C; 
}

.logo { 
		margin-left: 32px;
}

h2,h3,p,li,article ul,.botonfixed,.collapsible-content .content-inner,input,textarea,.label-desplegable{
		font-family: montserrat;
}
a, .contactate,footer,.ong,.consejos,.consejos2 {
		color: #FFE9F6;
}
li a, article ul{
		list-style: none;
}
li a,.leer,.terminos a,.info2, .ubicacion,.botonfixed a {
		text-decoration: none;
}
li a, input,.info,.title2,textarea{
		color: #232323;
}
body,footer,.form,.leerbox,.card2{
		background-color: #8B368C
}
.card, input,.fondoclaro,textarea{
		background-color:#FFE9F6;
}
nav,.formulario,.botonfixed,.imgtipos,.imgtipos2,.imgtipos3,.imgtipos4,.imgtipos5,.overlay {
		background-color:#FACF00;
}
.info2, .ubicacion,.leer,.title,.required,h2alt,.subqev,.info3,.h2alt{
		color:#FACF00;
}
.card,.input,textarea{
		border-radius: 56px;
}

.card,.form,.title2,.card2,.info2{
		flex-direction: column;
		justify-content: center;
}
.card, nav,.formulario,form,.form,.ayuda,.leer,.botonfixed,.cards,.footer,.terminos,.footer2,.card2,.info2,section,.desplegable,.flexcontainer,.sectionqev,.sectionqev2,.leerbox,#centrosayuda,.flex,.flexend3,.flexend2,.flexend1,.par3,.par2,.par1 {
		display: flex;
}
.card,.ong,.contactate,.title,.title2,.card2,.info2,article h2,article ul,.subqev,.a,.b,.c,.sectionqev2{
		text-align: center;
}
.card,form,.form,.botonfixed,.leerbox,.card2,section,.par1,.par2,.par3,.flexend1,.flexend2,.flexend3{
		align-items: center;
}

.ubicacion{
		bottom: 38px;
}

li a{
		font-weight: 700;
		font-size: 1.1em;
		padding: 48px;
	
}
nav ul li {
		display: inline;
		float: right;
}

body {
		margin: 0px; 
}

.ong{	margin: 48px 236px 32px 236px;
		font-size:1.5em;
		font-weight: 600;
		width: 47%;
	
}
.card {
		height: 336px;
		width: 368px; 
		margin: 16px 16px 80px 16px;
}
.formulario{
		height: 960px;
		width: 100%;
		justify-content: space-around;
		align-content: center;
		flex-direction: column;
}

form{
	flex-direction: column;
	width: 80%;
}
.form{	
		margin-top: 80px;
		margin-bottom: 80px;
		padding-top:32px;
		height: 800px;
		width: 640px; 
		border-radius: 64px;
}

input{ 
		margin: 8px;
		height: 56px;
		width:480px;
		font-size: 1em;
		font-weight: 500;
		border: none;
		padding-left: 32px;
		border-radius: 48px;
}

textarea {
		font-weight: 500;
		color: #232323 !important;
}

.formulario input{
	width: 100%;
}

#mensaje {
		height:320px;
		width: 100%;
		padding: 20px;
		margin: 5px 0px 10px 0px;
}
#enviar{
		padding: 0px;
		width: 192px;
}
.ayuda{
		align-items: flex-end;
		justify-content: flex-end;
		margin-right: 32px;
}
.botonfixed {
		margin-right: 52px;
		margin-top:98px;
		font-size: 1.25em;
		font-weight: 600;
		width: 190px;
		height: 63px;
		padding-left: 48px;
		border-radius: 368px;
		border-color: #C6A000;
		border-width: 1.12px;
		border-style: solid;
		position: fixed;
		top: 320px;
		box-shadow: 2px 2px 4px #C6A000;
		
}

.info {
		font-size: 1.5em;
		font-weight: 500;
}
.contactate2{
		bottom: 17px;
}

.leerbox{
		width: 160px;
		height: 48px;
		border-radius: 80px;
		justify-content: center;
}
.position3{
		top:14px; 
}

.leer{ 
		font-size: 1.2em;
		padding: 16px;
		align-content: center;
}

.cards {
		justify-content: space-around;
		margin: 0px 160px 0px 160px;
		width: 60%;
}
.width-30{
		width: 33.5% !important
}
.title{
		direction: flex;
		font-size: 1.8em;
		font-weight: 500;
}

.imagen1{

	display: flex;
	margin-right: 0px;
	margin-left: auto;
		
}
.sectionqev2 article img,#imagengrande {
		position: absolute;
}
.imagen2{
	display: flex;
	margin-left:0px;
	margin-right: auto;
		
}
footer{
		margin:0px;
		padding: 24px 48px 0 48px;
		height:128px;
}
.footer {
		justify-content:space-between;
}

.footer2 {
		margin-top: 5.008px; 
		justify-content: flex-end;
		
}

.title2{
		font-size:1.7em;
		font-weight: 600;
		width: 49%;
}

.espacio3{
		margin-top: 240px;
}

.card2{
		height: 288px;
		width: 240px;
		border-radius: 45px;
		margin: 16px;
		margin-bottom: 16px;

}
.info3,.info2{
		margin: 16px 32px 32px;
}
.info2{
		width: 128px;
}
.info3{
		width: 196px;

}

section{
		flex-direction: column;
}

.espacio{
		margin: 88px 0px 16px 0px;
		z-index: 10;
}
.espacio2{
		margin-top: 56px; 
		z-index: 10;
}

.textura{
		width: 100%;
		height: 100%;
		background-image: url("imagenes/fondoindex.png");
		background-repeat: repeat; 
}

.imagenmain {
		width: 100%;
		height:100%;
}
.imagengaleria {
		border-radius: 20px;
}


.imgtipos {
		border-radius: 50%;
		padding: 40px 80px 40px 80px;
}
.imgtipos2 {
		border-radius: 50%;
		padding: 60px 50px 60px 50px;
		margin-bottom: 10px;
}
.imgtipos3 {
		border-radius: 50%;
		padding: 100px 20px 100px 20px;
		margin-bottom: 10px;
}
.imgtipos4 {
		border-radius: 50%;
		padding: 60px 90px 60px 90px;
}

.imgtipos5 {
		border-radius: 50%;
		padding: 50px 60px 70px 60px;
}
.espacio4{
		padding-bottom: 160px;
		padding-top: 80px; 
}
.flexcontainer {
		width: 1000px;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0px auto;
}
.tituloqelv {
		display:block;
		margin: 0px auto;
}

article ul {
		padding-left:3px;
}
.footeralt {
		border-top-style: solid;
		border-color: #FACF00;
}
.sectionqev {
		flex-direction: row;
		justify-content:space-around;
		flex-wrap: wrap;
		width: 70%;
		margin-left: 15em;
}
.h2alt{
		top: 33px;
}
.texto{
		top:38px;
}
.frases {
		bottom: 160px;
		left:367px;
		top:0px;
}

.subqev {
		font-size: 40px;
		margin: 140px 0px 70px;
		left: 323px;
		padding-top: 60px;
		width: 53%;
}

.a,.b,.c,.pblanco{
		color:#FFE9F6;
}
.mujeres3 {
		margin-bottom: 15px;
}
.bsas {
		margin-bottom: 9px;
}
.a {
	align-content: center;
	width:40%;
	margin-bottom:50px
}
.b{
	align-content: center;
	width:25%;
	margin-top: 50px;
}
.c {
	align-content: center;
	width:25%;
	padding-top: 10%;
}
.pblanco {
	font-size: 25px;
}
.sectionqev2 {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 60%;
	margin-bottom: 10%;
}
.sectionqev2 article {
		display: flex;
		flex-direction: column;
		width: 50%;
		align-content: flex-start;
}
.sectionqev2 article img {
		margin-left: 20%;
}
.frase {background-image: url("imagenes/fondoindex.jpg");
		height: 456px;}

.par1 {
		margin: 0px auto;
}
.par2{
		width: 1200px;
		margin: 0px auto;
}
.par3 {
		width: 1300px;
		margin-top: 20px;
		margin-bottom: 40%;
}
.flexend1{
		margin-left: 100px;
}
.flexend2 {
		margin-left:500px;
}
.flexend3 {
		margin-left: 600px;
}
#imagengrande{;
		margin-top: 12%;
		margin-left: 55px;
}

#mancha{
	width: 72% !important;
	height: auto;
	animation-name: slidein;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-direction: normal;
	animation-timing-function: linear;
	background-repeat: no-repeat !important;
	bottom: 195px;
	z-index:1;
}

#mancha img{
	top: 93px !important;
	left: 136px !important;
}

@keyframes slidein{
	0%{
		background: url("imagenes/animacion/recurso1.svg")
	}
	10%{
		background: url("imagenes/animacion/recurso .svg")
	}
	20%{
		background: url("imagenes/animacion/recurs.svg")
	}
	30%{
		background: url("imagenes/animacion/recur.svg")
	}
	50%{
		background: url("imagenes/animacion/recu.svg")
	}
	60%{
		background: url("imagenes/animacion/rec.svg")
	}
	70%{
		background: url("imagenes/animacion/re.svg")
	}
	80%{
		background: url("imagenes/animacion/r.svg")
	}
	90%{
		background: url("imagenes/animacion/1.svg")
	}
	100%{
		background: url("imagenes/animacion/2.svg")
}
}
/*deplegable*/

/*estilo card desplegable*/
.label-desplegable { 
	margin-top: 16px;
	margin-right: 16px;
	display: block;
	font-weight: 700;
	font-size: 1.5 em;
	text-align: center;
	justify-content: center;
	width: 240px;
	height: 48px;
	padding: 80px 0px 80px;
	color: #FEEB15;
	background: #8B368C;
	cursor: pointer;
	border-radius: 45px;
	transition: all 0.1s ease-out;
}
/*estilo contenido desplegable*/
.collapsible-content .content-inner {
	color: #FEEB15;
	background: #8B368C;
	font-size: 0.8rem;
	border-bottom: 1px solid rgba(250, 224, 66, .45);
	width: 208px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	text-align:center;
	padding: .5rem 1rem;
	padding-bottom: 2em;
	
}
.label-desplegable:hover {
		color: #FEEB15;
}
.label-desplegable::before {
		display: inline-block;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid currentColor;
		vertical-align: middle;
		transform: translateY(-2px);
		transition: transform .05s ease-out;
}

.collapsible-content {
		max-height: 0px;
		overflow: hidden;
		transition: max-height .05s ease-in-out;
}
.desplegable:checked + .label-desplegable + .collapsible-content {
		max-height: 100vh;
}
.desplegable:checked + .label-desplegable::before {
		transform: rotate(90deg) translateX(-3px);
}

.desplegable:checked + .label-desplegable {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
}
.desplegable{
		display: none;
}
.flex{
		flex-direction: row;
}
.consejos,.consejos2{
		font-size: 1.25em;
}
.consejos{
		width: 190px;
		text-align: right;
}
.consejos2 {
		width: 157px;
		text-align: left;
}
label img {
	width:50px;
	height:35px;
}
#centrosayuda{
	flex-direction:column;
	align-items:center;
}
.position{
		top: 10px;
}
.position2{
		top: 10px;
}
/*overlay pedir ayuda*/
/* contenedor */
#container {
	width: 100%;
	max-width: 150px;
	margin: auto;
}

.pedirayuda{
	display: none;
}
/*contenido*/
.overlay {
		position: fixed;
		top:24px;
		right: 35.2px;
		width: 240px;
		height: 352px;	
		padding: 16px;
		border-radius: 3em;
		opacity:100;
		transition: .1s ease-in;
		display: none;
		text-align: center;
		border-color: #C6A000;
		border-width: 1.12px;
		border-style: solid;
		justify-content: space-around;
		z-index: 20;
}
		
/* accion efecto */
#overlay:checked + .botonfixed + .overlay{
	display: block;
	opacity: 100;
}

.wrap-collapsible{
	width: 240px;
}
	.menuhamburguesa, #menuhamburguesa{display: none}
.fraseresponsive{display: none}

@media screen and (max-width: 600px) {
	.navcompu{
		display: none;
	}

	nav{
		justify-content: space-between;
	}
	.ong{
		margin: 10%;
	}
	.cards{
		align-items: center;
	}

	.form{
		width: 80%;
		height: 65%;	
		align-content: center;
		padding: 25px;
		padding-top:50px;
	}
	input{
		width: 85%;
		height: 10%;
		justify-content: center;

	}
	
	.cards,.cards2,.flex,.espacio,.espacio3{
			flex-direction: column;
	}
	.card{
		width: 100%;
		height: 300px;
	}

	#mancha, .frase,.fuerzamujeres {display: none}

	
	.imagen2,.imagen1{
		display: none;
	}
	
	.label-menu { 
	
	transition: all 0.1s ease-out;
}
/*estilo contenido menu*/
.content .contentinner {
	color: #232323;
	display: flex;
	flex-direction: column;
	background: #FACF00;
	justify-content: space-around;
	font-size: 0.8em;
	width: 200px;
	height: 180px;
	text-align:left;
	padding: 20px;
	margin-left: 0px;
	margin-right: auto;
	list-style: none;
	position: relative;
	top:20px;
	
}
.label-menu:hover {
		color: #FEEB15;
}
.label-menu::before {
		display: inline-block;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid currentColor;
		vertical-align: middle;
		transform: translateY(-2px);
		transition: transform .05s ease-out;
}

.content {
		max-height: 0px;
		overflow: hidden;
		transition: max-height .05s ease-in-out;
		border-radius: 23px;
}
.desplegable:checked + .label-menu + .content {
		max-height: 100vh;
}
.desplegable:checked + .label-menu::before {
		transform: rotate(90deg) translateX(-3px);
}

.desplegable:checked + .label-menu {
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
}


.collapsible-content {
		max-height: 0px;
		overflow: hidden;
		transition: max-height .05s ease-in-out;
}

	.menuhamburguesa {
		display: block;
		margin-left: 0px;
		margin-right: auto;
		margin-top:10px;
	}
	.menulogo{
		margin-left:10px;
	}
	
	.ong, .title, .title2 {
	
		width: 85%;
	}
	.footer,.terminos {display: none;
	}
	footer{
		height: 50px;
	}
	.logo{margin-right: 10px}
	.espacio2{
		margin-bottom: 100px;
	}
	li a {padding: 10px;
	}
	.fraseresponsive{display: block}
}



