@charset "utf-8";
/* CSS Document */
nav{	height: 70px;
		width:100%;
		padding-top:1em;
		justify-content: space-between;
}

nav a:hover,article h2{
		color: #8B368C; 
}

.logo { 
		margin-left: 2em;
}

h2,h3,p,li,article ul {
		font-family: montserrat;
}
a, .contactate,footer,.ong {
		color: #FFE9F6;
}
li a, article ul{
		list-style: none;
}
li a,.leer,.terminos a,.info2, .ubicacion,.botonfixed a {
		text-decoration: none;
}
li a, input,.info,.title2{
		color: #232323;
}
body,footer,.form,.leerbox,.card2,.card3{
		background-color: #8B368C
}
.card, input,.fondoclaro{
		background-color:#FFE9F6;
}
nav,.formulario,.botonfixed,.imgtipos,.imgtipos2,.imgtipos3,.imgtipos4,.imgtipos5{
		background-color:#FACF00;
}
.info2, .ubicacion,.leer,.title,.required,h2alt,.subqev,.info3{
		color:#FACF00;
}
.card,.input{
		border-radius: 56px;
}

.card,.form,.title2,.card2,.info2,.card3{
		flex-direction: column;
		justify-content: center;
}
.card, nav,.formulario,form,.form,.ayuda,.leer,.botonfixed,.cards,.footer,.terminos,.footer2,.card2,.info2,.card3,section,.desplegable,.flexcontainer,.sectionqev,.sectionqev2 {
		display: flex;
}
.card,.ong,.contactate,.title,.title2,.card2,.info2,.card3,article h2,article ul,.subqev,.a,.b,.c,.sectionqev2{
		text-align: center;
}

.ubicacion{
		position: relative;
		bottom: 38px;
}

li a{
		font-weight: 700;
		font-size: 1.1em;
		padding: 3em;
	
}
nav ul li {
		display: inline;
		float: right;
}

body {
		margin: 0px; 
}

.ong{	margin: 3em 16em 2em 16em;
		font-size:1.5em;
		font-weight: 600;
	
}
.card {
		height: 21em;
		width: 23em; 
		align-items: center;
		margin: 1em 1em 5em 1em;
}
.formulario{
		height: 60em;
		width: 100%;
		justify-content: space-around;
		align-content: center;
		flex-direction: column;
}

form{
	flex-direction: column;
	align-content: center;
}
.form{	
		margin-top: 5em;
		margin-bottom: 5em;
		padding-top:2em;
		align-items: center;
		height: 50em;
		width: 40em; 
		border-radius: 4em;
}

input{
		margin: 0.5em;
		height: 3.5em;
		width:30em;
		font-size: 1em;
		font-weight: 500;;
		border: none;
		padding-left: 2em;
		border-radius: 3em;

}
#Mensaje {
		height:20em;
}
#enviar{
		padding: 0;
		margin-left: 10em;
		margin-bottom: 4em;
		width: 12em;
}
.ayuda{
		align-items: flex-end;
		justify-content: flex-end;
		margin-right: 2em;
}
.botonfixed {
		margin-right: 2em;
		font-size: 1.25em;
		width: 10em;
		height: 3em;
		align-items: center;
		padding-left: 3em;
		border-radius: 23em;
		border-color: #C6A000;
		border-width: 0.07em;
		border-style: solid;
		position: fixed;
		top: 20em;
		box-shadow: 2px 2px 4px #C6A000;
		
}

.info {
		font-size: 1.5em;
		font-weight: 500;
}
.leerbox{
		width: 10em;
		height: 3em;
		border-radius: 5em;
		display:flex;
		justify-content: center;
		align-items: center;
}

.leer{ 
		font-size: 1.2em;
		padding: 1em;
		align-content: center;
}

.cards {
		justify-content: space-around;
		margin-left: 10em;
		margin-right: 10em;
		width: 60%;
}
.width-30{
		width: 33.5% !important
}
.title{
		direction: flex;
		font-size: 1.8em;
		font-weight: 500;
	
}
footer{;
		margin:0;
		padding: 1.5em 3em 0 3em;
		height:8em;
}
.footer {
		justify-content:space-between;
}

.footer2 {
		margin-top: 0.313em; 
		justify-content: flex-end;
		
}

.title2{
		font-size:1.7em;
		font-weight: 600;
		width: 49%;
}

.espacio3{
		margin-top: 15em;
}

.card2{
		height: 18em;
		width: 16em;
		border-radius: 45px;
		align-items: center;
		margin: 1em;
		margin-bottom: 1em;

}
.info3,.info2{
		margin: 1em 2em 2em
}
.info2{
		width: 8em;
}
.info3{
		width: 11em;
}

.card3{
		border-radius: 50px;
		align-items: center;
		margin: 0.313 0.313 3em 0.313;
		height: 250px;
}

section{
		flex-direction: column;
		align-items: center;
}

.espacio{
		margin: 5.5em 0em 1em 0em;
}
.espacio2{
		margin: 3.5em 0em 15em 0em;; 
}

.textura{
		width: 100%;
		height: 100%;
		background-image: url("imagenes/fondoindex.png");
		background-repeat: repeat; 
}

.imagenmain {
		width: 100%;
		height:100%;
}
.imagengaleria {
		border-radius: 20px;
}
.fondo{ height:40em;}

.imgtipos {
		border-radius: 50%;
		padding: 40px 90px 40px 90px;
}
.imgtipos2 {
		border-radius: 50%;
		padding: 50px 40px 60px 40px;
		margin-bottom: 10px;
}
.imgtipos3 {
		border-radius: 50%;
		padding: 100px 10px 100px 10px;
		margin-bottom: 10px;
}
.imgtipos4 {
		border-radius: 50%;
		padding: 40px 80px 40px 80px;
}

.imgtipos5 {
		border-radius: 50%;
		padding: 60px 50px 70px 60px;
}
.flexcontainer {
		width: 70%;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-left:10em;
		margin-right: 10em;
}
.tiposdev {
		position: relative;
		top:0px;
		left:14px;
}

article ul {;
		padding-left:3px;
}
.footeralt {
		border-top-style: solid;
		border-color: #FACF00;
}
.sectionqev {
		flex-direction: row;
		justify-content:space-around;
		flex-wrap: wrap;
		width: 70%;
		margin-left: 15em;
}
.frases {
		position: relative;
		bottom: 160px;
		left:367px;
		top:0px;
}

.subqev {
		padding: 0% 30% 0% 30%;
		font-size: 40px;
}
.a,.b,.c,.pblanco{
		color:#FFE9F6;
}
.a {
	align-content: center;
	width:40%;
	margin-bottom:50px
}
.b{
	align-content: center;
	width:25%;
	margin-top: 50px;
}
.c {
	align-content: center;
	width:25%;
	padding-top: 10%;
}
.pblanco {
	font-size: 25px;
}
.sectionqev2 {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	align-content: space-around;
}
.sectionqev2 article {
	width: 50%;
}
.frase {background-image: url("imagenes/fondoindex.jpg");
		height: 28.5em;}
#mancha{
	width: 920px;
	height: 593px;
	animation-name: slidein;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-direction: normal;
	animation-timing-function: linear;
	background-repeat: no-repeat;
	position: relative;
	bottom: 74px;
}
#mancha:hover{
	animation-play-state: paused;
}
@keyframes slidein{
	0%{
		background: url("imagenes/animacion/recurso1.svg")
	}
	10%{
		background: url("imagenes/animacion/recurso .svg")
	}
	20%{
		background: url("imagenes/animacion/recurs.svg")
	}
	30%{
		background: url("imagenes/animacion/recur.svg")
	}
	50%{
		background: url("imagenes/animacion/recu.svg")
	}
	60%{
		background: url("imagenes/animacion/rec.svg")
	}
	70%{
		background: url("imagenes/animacion/re.svg")
	}
	80%{
		background: url("imagenes/animacion/r.svg")
	}
	90%{
		background: url("imagenes/animacion/1.svg")
	}
	100%{
		background: url("imagenes/animacion/2.svg")
	}
	}
/*deplegable*/

/*estilo card desplegable*/
.label-desplegable { 
	margin-top: 1em;
	margin-right: 1em;
	display: block;
	font-weight: 700;
	font-family: montserrat;
	font-size: 1.5 em;
	text-align: center;
	justify-content: center;
	width: 15em;
	height: 3em;
	padding:1em;
	padding-bottom: 5em;
	padding-top:5em; 
	color: #FEEB15;
	background: #8B368C;
	cursor: pointer;
	border-radius: 45px;
	transition: all 0.1s ease-out;
}
/*estilo contenido desplegable*/
.collapsible-content .content-inner {
	color: #FEEB15;
 	background: #8B368C;
	font-family: montserrat;
	font-size: 0.8rem;
 	border-bottom: 1px solid rgba(250, 224, 66, .45);
	width: 16.25em;
 	border-bottom-left-radius: 45px;
 	border-bottom-right-radius: 45px;
	text-align:center;
  	padding: .5rem 1rem;
	padding-bottom: 2em;
	
}
.label-desplegable:hover {
  color: #FEEB15;
}
.label-desplegable::before {
	  display: inline-block;
	  border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid currentColor;
	  vertical-align: middle;
	  margin-right: .7rem;
	  transform: translateY(-2px);
	  transition: transform .05s ease-out;
}

.collapsible-content {
	  max-height: 0px;
	  overflow: hidden;
	  transition: max-height .05s ease-in-out;
}
.desplegable:checked + .label-desplegable + .collapsible-content {
  max-height: 100vh;
}
.desplegable:checked + .label-desplegable::before {
  transform: rotate(90deg) translateX(-3px);
}

.desplegable:checked + .label-desplegable {
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
}
.desplegable{
	display: none;
}
.flex{
	display: flex;
	flex-direction: row;
}
label img {
	width:50px;
	height:35px;
}
